In [10]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

In [11]:
data = pd.read_csv("Pokemon.csv")
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False

In [12]:
data[['HP','Attack','Defense']].head(5)

   HP  Attack  Defense
0  45      49       49
1  60      62       63
2  80      82       83
3  80     100      123
4  39      52       43

In [13]:
data_atack_def = data[['Attack','Defense']].head(5)

In [14]:
pf = PolynomialFeatures(degree=2 , interaction_only=False , include_bias=False)
result = pf.fit_transform(data_atack_def)
result

array([[   49.,    49.,  2401.,  2401.,  2401.],
       [   62.,    63.,  3844.,  3906.,  3969.],
       [   82.,    83.,  6724.,  6806.,  6889.],
       [  100.,   123., 10000., 12300., 15129.],
       [   52.,    43.,  2704.,  2236.,  1849.]])

In [15]:
pd.DataFrame(pf.powers_ , columns=['Attack','Defense'])

   Attack  Defense
0       1        0
1       0        1
2       2        0
3       1        1
4       0        2

In [16]:
ntr_features = pd.DataFrame(result, columns=['Attack','Defense','Attack^2','Attack x Defense','Defense^2'])
ntr_features

   Attack  Defense  Attack^2  Attack x Defense  Defense^2
0    49.0     49.0    2401.0            2401.0     2401.0
1    62.0     63.0    3844.0            3906.0     3969.0
2    82.0     83.0    6724.0            6806.0     6889.0
3   100.0    123.0   10000.0           12300.0    15129.0
4    52.0     43.0    2704.0            2236.0     1849.0